In [4]:
# Import dependency
import pandas as pd
import os

# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read student data
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

# Read student data
student_data_df = pd.read_csv(student_data_to_load)
student_data_df

# Data Count
#school_data_df.count()
#student_data_df.count()
#school_data_df.notnull()
#school_data_df.isnull().sum()

# Determine data types for the student DataFrame.
#school_data_df.dtypes
#school_data_df.school_name.dtype
#school_data_df.type.dtype
#school_data_df.size.dtype
#school_data_df["School ID"].dtype


# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

student_data_df["student_name"]
student_data_df

       Student ID     student_name  ... reading_score math_score
0               0     Paul Bradley  ...            66         79
1               1     Victor Smith  ...            94         61
2               2  Kevin Rodriguez  ...            90         60
3               3    Richard Scott  ...            67         58
4               4       Bonnie Ray  ...            97         84
...           ...              ...  ...           ...        ...
39165       39165     Donna Howard  ...            99         90
39166       39166        Dawn Bell  ...            95         70
39167       39167   Rebecca Tanner  ...            73         84
39168       39168     Desiree Kidd  ...            99         90
39169       39169  Carolyn Jackson  ...            95         75

[39170 rows x 7 columns]

In [5]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

   Student ID     student_name gender grade  ... School ID      type  size   budget
0           0     Paul Bradley      M   9th  ...         0  District  2917  1910635
1           1     Victor Smith      M  12th  ...         0  District  2917  1910635
2           2  Kevin Rodriguez      M  12th  ...         0  District  2917  1910635
3           3    Richard Scott      M  12th  ...         0  District  2917  1910635
4           4       Bonnie Ray      F   9th  ...         0  District  2917  1910635

[5 rows x 11 columns]

In [6]:
# Total number of students
student_count = school_data_complete_df["Student ID"].count()
print(student_count)
student_count_2 = school_data_complete_df.count()
print(student_count)

39170
39170

In [7]:
# Total number of schools
school_count = school_data_df["school_name"].count()
school_count
school_count_2 = school_data_complete_df["school_name"].unique()
print(school_count_2)
school_count_3 = len(school_data_complete_df["school_name"].unique())
school_count_3

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

15

In [8]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [9]:
# Average reading score of students
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# Average math score of students
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [11]:
# Determine the passing grade for math
passing_math = school_data_complete_df["math_score"] >= 70
passing_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [12]:
# Determine the passing grade reading
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading

       Student ID     student_name gender  ...      type  size   budget
1               1     Victor Smith      M  ...  District  2917  1910635
2               2  Kevin Rodriguez      M  ...  District  2917  1910635
4               4       Bonnie Ray      F  ...  District  2917  1910635
5               5    Bryan Miranda      M  ...  District  2917  1910635
6               6    Sheena Carter      F  ...  District  2917  1910635
...           ...              ...    ...  ...       ...   ...      ...
39165       39165     Donna Howard      F  ...   Charter  1635  1043130
39166       39166        Dawn Bell      F  ...   Charter  1635  1043130
39167       39167   Rebecca Tanner      F  ...   Charter  1635  1043130
39168       39168     Desiree Kidd      F  ...   Charter  1635  1043130
39169       39169  Carolyn Jackson      F  ...   Charter  1635  1043130

[33610 rows x 11 columns]

In [13]:
# Calculate the number of students passing math.
passing_math_count = passing_math.sum()
print(passing_math_count)

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)

29370
33610

In [14]:
# Percentage of students who passed math and reading
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [15]:
# Calculate students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading["student_name"].count()
overall_passing_math_reading_count = passing_math_reading.student_name.count()
overall_passing_math_reading_count

25528

In [16]:
# Percentage of students who passed both math and reading
passing_math_reading_percentage = overall_passing_math_reading_count / float(student_count) * 100
passing_math_reading_percentage

65.17232575950983

In [17]:
# Creating a new DataFrame with a list of values with keys
district_summary_df = pd.DataFrame(
    [
        {"Total Schools": school_count,
        "Total Students": student_count,
        "Total Budget": total_budget,
        "Average Math Score": average_math_score,
        "Average Reading Score": average_reading_score,
        "% Passing Math": passing_math_percentage,
        "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": passing_math_reading_percentage}
    ]
)
district_summary_df

   Total Schools  Total Students  ...  % Passing Reading  % Overall Passing
0             15           39170  ...          85.805463          65.172326

[1 rows x 8 columns]

In [18]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [19]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [20]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79.0,81.9,75,86,65

In [21]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]


# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

   Total Schools Total Students  ... % Passing Reading % Overall Passing
0             15         39,170  ...                86                65

[1 rows x 8 columns]

In [22]:
# School name - Index
# Columns : School Type | Total students | Total school budget | Average math score | Average reading score | % passing math | % passing reading | % overall passing

# Create new DataFrame
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [23]:
# Convert Series to DataFrame
per_school_types_df = pd.DataFrame(per_school_types)
per_school_types_df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [24]:
# Calculate the total student count.
per_school_counts = school_data_df["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [25]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [41]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [27]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [28]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [42]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [43]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

                       Student ID  reading_score  ...    size     budget
school_name                                       ...
Bailey High School        20358.5      81.033963  ...  4976.0  3124928.0
Cabrera High School       16941.5      83.975780  ...  1858.0  1081356.0
Figueroa High School       4391.0      81.158020  ...  2949.0  1884411.0
Ford High School          36165.0      80.746258  ...  2739.0  1763916.0
Griffin High School       12995.5      83.816757  ...  1468.0   917500.0
Hernandez High School      9944.0      80.934412  ...  4635.0  3022020.0
Holden High School        23060.0      83.814988  ...   427.0   248087.0
Huang High School          1458.0      81.182722  ...  2917.0  1910635.0
Johnson High School       32415.0      80.966394  ...  4761.0  3094650.0
Pena High School          23754.5      84.044699  ...   962.0   585858.0
Rodriguez High School     28035.0      80.744686  ...  3999.0  2547363.0
Shelton High School        6746.0      83.725724  ...  1761.0  1056600.0
Thomas High School        38352.0      83.848930  ...  1635.0  1043130.0
Wilson High School        14871.0      83.989488  ...  2283.0  1319574.0
Wright High School        25135.5      83.955000  ...  1800.0  1049400.0

[15 rows x 6 columns]

In [44]:
# Calculate the average math scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_math
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [45]:
 # To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
 # 2. Get the number of students who passed math and reading.
 # 3. Get the students who passed math and passed reading

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_math
per_school_passing_reading

       Student ID     student_name gender  ...      type  size   budget
1               1     Victor Smith      M  ...  District  2917  1910635
2               2  Kevin Rodriguez      M  ...  District  2917  1910635
4               4       Bonnie Ray      F  ...  District  2917  1910635
5               5    Bryan Miranda      M  ...  District  2917  1910635
6               6    Sheena Carter      F  ...  District  2917  1910635
...           ...              ...    ...  ...       ...   ...      ...
39165       39165     Donna Howard      F  ...   Charter  1635  1043130
39166       39166        Dawn Bell      F  ...   Charter  1635  1043130
39167       39167   Rebecca Tanner      F  ...   Charter  1635  1043130
39168       39168     Desiree Kidd      F  ...   Charter  1635  1043130
39169       39169  Carolyn Jackson      F  ...   Charter  1635  1043130

[33610 rows x 11 columns]

In [46]:
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [47]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [48]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [49]:
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

per_school_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [85]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

   Student ID    student_name gender grade  ... School ID      type  size   budget
4           4      Bonnie Ray      F   9th  ...         0  District  2917  1910635
5           5   Bryan Miranda      M   9th  ...         0  District  2917  1910635
6           6   Sheena Carter      F  11th  ...         0  District  2917  1910635
8           8    Michael Roth      M  10th  ...         0  District  2917  1910635
9           9  Matthew Greene      M  10th  ...         0  District  2917  1910635

[5 rows x 11 columns]

In [78]:
#per_passing_math_reading = per_passing_math_reading.groupby(["school_name"])

In [86]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [88]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [109]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget" : per_school_budget,
             "Per Student Budget" : per_school_capita,
             "Average Math Score": per_school_math,
             "Average Reading Score": per_school_reading,
             "% Passing Math": per_school_passing_math,
             "% Passing Reading": per_school_passing_reading,
             "% Overall Passing": per_overall_passing_percentage
             })
per_school_summary_df.head()

                     School Type  ...  % Overall Passing
Bailey High School      District  ...          54.642283
Cabrera High School      Charter  ...          91.334769
Figueroa High School    District  ...          53.204476
Ford High School        District  ...          54.289887
Griffin High School      Charter  ...          90.599455

[5 rows x 9 columns]

In [110]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

                     School Type  ...  % Overall Passing
Bailey High School      District  ...          54.642283
Cabrera High School      Charter  ...          91.334769
Figueroa High School    District  ...          53.204476
Ford High School        District  ...          54.289887
Griffin High School      Charter  ...          90.599455

[5 rows x 9 columns]

In [111]:
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.0f}".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.0f}".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display the data frame
per_school_summary_df.head()

                     School Type  ...  % Overall Passing
Bailey High School      District  ...                 55
Cabrera High School      Charter  ...                 91
Figueroa High School    District  ...                 53
Ford High School        District  ...                 54
Griffin High School      Charter  ...                 91

[5 rows x 9 columns]